@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-color: whitesmoke;

}

header {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 0px 0px 0px;
    background-image: url(../imagenes/inicio2.jpg);
    background-position: center;
    position: sticky;
    text-align: center;
    top: 0;
}

img {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    width: 400px;
}

h1 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(25, 158, 158);
}

h2 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(25, 158, 158);
}

h3 {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: normal;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: center;
}

p {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    font-style: 20px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: center;
    line-height: 1.6;
    color: black;
}

.parrafoBienvenida {
    color: rgb(25, 158, 158);
    ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 5px 3px 5px;
    color: rgb(25, 158, 158);
    ;

}


.navegador {
    display: flex;
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    list-style-type: none;
    border-radius: 1cm;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    color:rgb(25, 158, 158);
    font-weight: bold;

}

.navegador:hover {
    color: black;

}

a {
    color: black;
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    background-color: whitesmoke;
    display: inline-block;
    
}

.formulario {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
    text-align: left;
}

footer {
    padding: 10px;
    margin-bottom: 0;
    margin-top: 200px;
    background-color: rgb(164, 248, 248);
    text-align: center;
}

i {
    color: rgb(15, 73, 73);
    display: flex;
    justify-content: center;
    font-size: 30px;
    align-items: center;
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 8px 10px 20px;

}

.pie {
    text-align: center;
}

.Contacto {
    width: 400px;
    padding: 30px;
    margin: auto;
    margin-top: 5px;
    margin-top: 100px;
    border-radius: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: white solid 6px;
    background-color: transparent;
    background-image: url(../imagenes/tierra1.jpg);
}

.control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 4px double black;
    max-width: 370px;
}

.boton {
    width: 100px;
    border-radius: 3px;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    justify-content: flex-end;
    margin-left: 35%;
}

.tipoPersona {
    color: rgb(25, 158, 158);
    background-color: whitesmoke;
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 5px 10px;
}

.contactonombre {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: rgb(25, 158, 158);
}
li{
    color: black;
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    display: inline-block;
    
}

ul{
    padding: 5px;
    border: 3px hidden bisque;
    margin: 5px 3px 5px;
    display: inline-block;
}

.gifhola {
    padding: 10px;
    border: 5px hidden bisque;
    margin: 30px 500px 30px;
    color: rgb(10, 153, 129);
    border-radius: 1cm;
    border: 3px double rgb(19, 170, 125);
    overflow: hidden;
}

.gifhola:hover{
    transform: scale(1.2);
}

.solar {
    display: inline-block;
    padding: 10px;
    border: 5px hidden bisque;
    margin: 10px 500px 10px 500px;
    color: rgb(10, 153, 129);
    border-radius: 1cm;
    overflow: hidden;
    }

    .solar:hover{
        transform: rotate(10deg);
    }
    .solar1 {
        padding: 10px;
        border: 5px hidden bisque;
        margin: 10px 500px 10px 500px;
        color: rgb(10, 153, 129);
        border-radius: 1cm;
        overflow: hidden;
        }
    
        .solar1:hover{
            transform: scale(1.2);
        }